[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group ldap/gerrit-snbi-committers
	read = group GitHub Replication
[project]
	description = Secure Network Bootstrap Infrastructure
[allowSuperproject "releng/autorelease"]
	matching = refs/heads/stable/lithium:refs/heads/stable/lithium
